<header class="header">
    <div class="container">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item navigation__item--logo">
                    <img src="assets/aquaguardian-logo-svg.svg" alt="aquaguardian logo" class="logo__image">
                </li>
                <li class="navigation__item navigation__item--login">
                    <ng-container *ngIf="authenticator.route !== 'authenticated'">
                        <a href="#" (click)="authenticator.toSignIn()" class="login__link">entrar</a>
                        <amplify-authenticator
                        variation="modal"
                        >
                            <ng-template amplifySlot="sign-in-footer">
                            <div style="text-align: center">
                                <button
                                (click)="authenticator.toForgotPassword()"
                                class="amplify-button amplify-field-group__control"
                                data-fullwidth="false"
                                data-size="small"
                                type="button"
                                style="font-weight: normal"
                                >
                                Reset Password
                                </button>
                            </div>
                            </ng-template>
                            <ng-template
                            amplifySlot="authenticated"
                            let-user="user"
                            let-signOut="signOut"
                            >
                            </ng-template>
                        </amplify-authenticator>   
                    </ng-container>
                    <ng-container *ngIf="authenticator.route === 'authenticated'">
                        <a href="#" (click)="authenticator.signOut()" class="login__link">sair</a> 
                    </ng-container>
                </li>
            </ul>
        </nav>
        <div class="header-content">
            <h1 class="header-title">Monitoramento do nível de água nos canais e bueiros</h1>
            <div class="climate-info">
                <div class="climate-info__icon">
                    <img src="assets/weather-icon.png" alt="Weather Icon">
                </div>
                <div class="climate-info__temperature">
                    <p class="climate-info__temperature">33</p>
                    <p class="climate-info-minor__temperature">°C | °F</p>
                </div>
                <div class="climate-info__details">
                    <p class="climate-info__description">Chuva: 25%<br>Umidade: 56%<br>Vento: 18 km/h</p>
                </div>
                <div class="climate-info__extra">
                    <p class="climate-info__day">Clima<br>domingo</p>
                    <p class="climate-info__forecast">Tempestade leve de raios e trovões</p>
                </div>
            </div>
        </div>
    </div>
</header>



<ng-container *ngIf="authenticator.route !== 'authenticated'">
    <div class="header-content">
        <h1 class="header-title">Por favor, entre para visualizar o dashboard</h1>
    </div>
</ng-container>
<ng-container *ngIf="authenticator.route === 'authenticated'">
    <div class="header-content">
        <h1 class="header-title">Bem-vindo(a)</h1>
    </div>
    <app-dashboard-map></app-dashboard-map>
</ng-container>
